*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background: #78c1f3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contenedor{
    background: #fff;
    padding: 25px;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.todo-header{
    text-align: center;
    margin-bottom: 20px;
}

.Cuerpo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e3f2fd;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 25px;
}

.Cuerpo input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-size: 16px;
}

.Cuerpo button{
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    background: #2196f3;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.Cuerpo button:hover{
    background: #1976d2;
}

ul li{
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e3f2fd;
    margin-bottom: 10px;
    border-radius: 5px;
}

h5{
    text-align: center;
    margin-bottom: 10px;
    height: 20px;
}


.todo-controls {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
}


.deleted-item {
    transform: translateX(50px);
    opacity: 0;
    transition: 0.3s;
}